    <div class='comment'>
    <div class='comment-meta clearfix row'><!---->
    <div class='col-md-1 cpdtools_no_padding_left'>
    <a href="https://vmwaresearch.vmware.com/search?proxystylesheet=vmlinksearch_frontend&getfields=*&site=People&q={{data['username']}}@vmware.com" target="_blank"><img class='avatar-small' src='/static/images/default_avatar.png'></div></a>
    <div class='col-md-11 cpdtools_no_padding_right'>
    <a href="https://vmwaresearch.vmware.com/search?proxystylesheet=vmlinksearch_frontend&getfields=*&site=People&q={{data['username']}}@vmware.com" target="_blank"><span class='author'>{{data['realname']}}</span></a>
    <span class='date' style="float:right;">{{data['date']}}</span>
    <div class='comment-content'>{{data['comment']}}</div>
    </div><!--name&content-->
    </div><!--comment-meta-->
    </div><!--comment-->

