<style>
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
.table-sortable tbody tr {
    cursor: move;
}
</style>

<style>
.form-group.required .control-label2:after { 
   content:"";
   color:gray;
}
</style>

<form action="{{ url_for('Tool_Active_Info_Edit') }}" 
      method=post 
      class="form-horizontal" 
	  id="tool_active_info_edit_form"
	  >


    <div class="form-group">
        <label class="col-md-3 control-label control-label2">
            Backlog?
        </label>
        <div class="col-md-7">
            <input type=checkbox 
                    id ="id_backlog_check" 
                    name="backlog_check" 
                    value="1" 
                    class="checkbox"
            />
        </div>
    </div>

    <div class="form-group required">
        <label class="col-md-3 control-label control-label3">
            Master PR
        </label>
        <div class="col-md-7">
            <input class="form-control cpdtools_need_update" 
                    id="id_master_pr" 
                    value="{{active_info['master_pr']}}" 
                    name="master_pr" 
                    placeholder="PR # for tracking this tool" 
                    required="required" 
                    title="" 
                    type="text" 
                    onchange="update_maturity_wx();"
            />
        </div>
    </div>


    <div class="form-group required">
        <label class="col-md-3 control-label control-label3">
            Estimated Timeline
        </label>
        <div class="col-md-7">
            <input  class="form-control cpdtools_need_update" 
                    id="id_e_timeline_cal" 
                    value="{{active_info['eta']}}" 
                    name="e_timeline_cal" 
                    placeholder="ETA" 
                    required="required" 
                    title="" 
                    type="text" 
                    onchange="update_maturity_wx();" 
            />
        </div>
    </div>

    <div class="form-group required" style="display: none;">
        <label class="col-md-3 control-label control-label3">
            Estimated Timeline
        </label>
        <div class="col-md-7">
            <input  class="form-control cpdtools_need_update" 
                    id="id_e_timeline" 
                    value="{{active_info['eta']}}" 
                    name="e_timeline" 
                    placeholder="ETA" 
                    required="required" 
                    title="" 
                    type="text" 
            />
        </div>
    </div>

    <div class="form-group required">
        <label class="col-md-3 control-label control-label3 cpdtools_timeline_change">
            Estimated Resource (Man*Week against this timeline)
        </label>
        <div class="col-md-7">
            <input class="form-control cpdtools_need_update" 
                    id="id_resource"
                    value="{{active_info['resource']}}" 
                    name="e_resource" 
                    placeholder="Estimated Resource" 
                    required="required" 
                    title="" 
                    type="text" 
                    onchange="update_maturity_wx();"
            />
        </div>
    </div
	

<!---------------------------------------------------------------->
<!---------------------------------------------------------------->
    <div class="form-group required">
        <label class="col-md-3 control-label control-label3 cpdtools_timeline_change">
            Resource Detail
        </label>
    <div class="row">
    	<div class="col-md-7 ">
			<table class="table" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Engineer
						</th>
						<th class="text-center">
							Week
						</th>
						<th class="text-center">
							Manager
						</th>
        				<th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
						</th>
					</tr>
				</thead>

				<tbody>
				{% for r_detail in resource_detail %}
				<tr id='addr{{loop.index}}' data-id="{{loop.index}}" class="r_d_c">
					<td data-name="r_name">
						<input type="text" name="r_name{{loop.index}}"  placeholder='Resource Name'
                               onchange="update_maturity_wx();"
                               required="required" 
						       value="{{r_detail['r_name']}}" class=""/>
					</td>
					<td data-name="r_number">
						<input type="text" name='r_number{{loop.index}}'  placeholder='Resource Number' 
                               onchange="update_maturity_wx();"
                               required="required" 
						       value="{{r_detail['r_number']}}" class=""/>
					</td>
					<td data-name="r_manager">
						<input type="text" name='r_manager{{loop.index}}'  placeholder='Resource Manager' 
                               onchange="update_maturity_wx();"
                               required="required" 
						       value="{{r_detail['r_manager']}}" class=""/>
				    </td>
                    <td data-name="del">
						<button name="del{{loop.index}}" class='btn btn-danger row-remove'>Delete</button>
					</td>
				</tr>
				{% endfor %}
				<tr id='addr0' data-id="0" class="hidden">
					<td data-name="r_name">
						<input type="text" name="r_name0"  placeholder='Resource Name'
                               onchange="update_maturity_wx();"
                               required="required" 
						       class=""/>
					</td>
					<td data-name="r_number">
						<input type="text" name='r_number0'  placeholder='Resource Number' 
                               onchange="update_maturity_wx();"
                               required="required" 
						       class=""/>
					</td>
					<td data-name="r_manager">
						<input type="text" name='r_manager0'  placeholder='Resource Manager' 
                               onchange="update_maturity_wx();"
                               required="required" 
						       class=""/>
					</td>
                    <td data-name="del">
						<button name="del0" class='btn btn-danger row-remove'>Delete</button>
                    </td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
		<a id="add_row" class='btn btn-primary pull-right'>Add</a>
    </div>
	<input type="hidden" name="r_max_num" value="{{resource_detail_length}}" id="r_max_num_id"/>
</div>

<!---------------------------------------------------------------->
<!---------------------------------------------------------------->
<script>
$(document).ready(function() {
    $("#add_row").on("click", function() {
        // Dynamic Rows Code
        // Get max row id and set new id
        var newid = 0;
        $.each($("#tab_logic tr"), function() {
            if (parseInt($(this).data("id")) > newid) {
                newid = parseInt($(this).data("id"));
            }
        });
        newid++;

		// record the max number of  rows and send it to server with hidden input
        var max_num = document.getElementById("r_max_num_id");
		max_num.value = newid;

		var tr = $("<tr></tr>", {
            id: "addr"+newid,
            "data-id": newid
        });

        // loop through each td and create new elements with name of newid
        $.each($("#tab_logic tbody tr:nth(0) td"), function() {
            var cur_td = $(this);
            var children = cur_td.children();

            // add new td and element if it has a nane
            if ($(this).data("name") != undefined) {
                var td = $("<td></td>", {
                    "data-name": $(cur_td).data("name")
                });

                var c = $(cur_td).find($(children[0]).prop('tagName')).clone().val("");
                c.attr("name", $(cur_td).data("name") + newid);
                c.appendTo($(td));
                td.appendTo($(tr));
            } else {
                var td = $("<td></td>", {
                    'text': $('#tab_logic tr').length
                }).appendTo($(tr));
            }
        });

        // add delete button and td
        /*
        $("<td></td>").append(
            $("<button class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>")
                .click(function() {
                    $(this).closest("tr").remove();
                })
        ).appendTo($(tr));
        */
        // add the new row
        $(tr).appendTo($('#tab_logic'));
        $(tr).find("td button.row-remove").on("click", function() {
             $(this).closest("tr").remove();
        update_maturity_wx();
        });
        update_maturity_wx();
    });
	
	$(".r_d_c").find("td button.row-remove").on("click", function() {
             $(this).closest("tr").remove();
             update_maturity_wx();
        });
    //$("#add_row").trigger("click");
	
/*
    // Sortable Code
    var fixHelperModified = function(e, tr) {
        var $originals = tr.children();
        var $helper = tr.clone();

        $helper.children().each(function(index) {
            $(this).width($originals.eq(index).width())
        });

        return $helper;
    };

    $(".table-sortable tbody").sortable({
        helper: fixHelperModified
    }).disableSelection();

    $(".table-sortable thead").disableSelection();
*/
});
</script>
<!---------------------------------------------------------------->
<!---------------------------------------------------------------->

    <div class="form-group required">
        <label  class="col-md-3 control-label control-label3 cpdtools_timeline_change">
            Progress (against this timeline)
        </label>
        <div class="col-md-7">
            <select class="form-control cpdtools_need_update" 
                    id="id_progress" 
                    value="{{active_info['progress']}}" 
                    name="progress" 
                    placeholder="Progress in current phase" 
                    required="required" 
                    title="" 
                    type="text" 
                    onchange="update_maturity_wx();"
            >
                <option value="{{active_info['progress']}}">
                    {{active_info['progress']}}
                </option>
                {% for prog in range(10,101) if prog%10==0 %}
                    {% if not prog|string+"%"==active_info['progress']%}
                        <option value="{{prog}}%">
                            {{prog}}
                        </option>
                    {% endif%}
                {% endfor%}
            </select>
        </div>
    </div>


    <div class="form-group required">
        <label class="col-md-3 control-label control-label3">
            Estimated Return
        </label>
        <div class="col-md-7">
            <textarea   class="form-control cpdtools_need_update"
                        name = 'e_return'
                        cols="30"
                        rows="5"
                        onchange="update_maturity_wx();"
                        placeholder="Describe what we can expect from this tool"
            >{{active_info['return']}}</textarea>
        </div>
    </div>


    <div class="form-group required">
        <label class="col-md-3 control-label control-label3">
            Deliverables
        </label>
        <div class="col-md-7">
            <textarea   class="form-control cpdtools_need_update"
                        name = 'deliverables'
                        cols="30"
                        rows="5"
                        onchange="update_maturity_wx();"
                        placeholder="What will be dilivered to the users"
            >{{active_info['deliverables']}}</textarea>
        </div>
    </div>


    <div class="form-group required content-pro" style="display: none;">
        <label class="col-md-3 control-label control-label3">
            Modify Update Info
        </label>
        <div class="col-md-7">
            <textarea   class="form-control" 
                        name = update 
                        cols="30" 
                        rows="5"
                        required="required" 
                        placeholder="You've changed some INFO, please leave some update on this change"
            ></textarea>
        </div>
    </div>

    <input type=hidden id="hidden_tool_origin_id" name="id" value="{{active_info['tool_id']}}">
    <input type=hidden id="hidden_tool_origin_progress" name="original_progress" value="{{active_info['progress']}}">

    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-7 div_same_line" style="text-align: left;">
            <button type="submit" id="active_info_edit_submit" class="btn btn-danger" style="width: 100px;">
				Submit
			</button>
            <a id="active_info_edit_cancel" class="btn btn-info" style="width: 100px;">
                Cancel
            </a>
        </div>
    </div>

</form>

