
<style>
    .form-group.required .control-label:after { 
        content:"";
        color:red;
    }
</style>

<style>
    .form-group.required .control-label2:after { 
        content:"";
        color:gray;
    }
</style>

<style>
    .td-bg-red{
        color:red;
        font-weight:bold;
    }
</style>

{% if active_flag==True %}
    <a id="tool_activate" class="btn btn-danger" style="width: 100px;">
        Edit
    </a>
    <a id="tool_deactivate" class="btn btn-info" style="width: 100px;">
        Deactivate
    </a>
    <hr>

<form action="{{ url_for('Tool_Active_Info_Edit') }}" method=post class="form-horizontal" id="tool_active_info_edit_form">


    <div class="form-group required">
        <label class="col-md-3 control-label">
            Master PR
        </label>
        <div class="col-md-7">
            <input  class="form-control" 
                    id="id_master_pr" 
                    value="{{active_info['master_pr']}}" 
                    name="master_pr" 
                    placeholder="PR # for tracking this tool" 
                    required="required" 
                    title="" 
                    type="text" 
                    readonly="readonly"
           />
        </div>
    </div>
    <div class="form-group required">
        <label class="col-md-3 control-label">
            Estimated Timeline
        </label>
        <div class="col-md-7">
            <input  class="form-control" 
                    id="id_e_timeline" 
                    value="{{active_info['eta']}}" 
                    name="e_timeline" 
                    placeholder="ETA" 
                    required="required" 
                    title="" 
                    type="text" 
                    readonly="readonly" 
            />
        </div>
    </div>
    <div class="form-group required">
        <label class="col-md-3 control-label">
            Estimated Resource (Man*Week against {{active_info['eta']}})
        </label>
        <div class="col-md-7 control-label">
            <input  class="form-control" 
                    id="id_resource" 
                    value="{{active_info['resource']}}" 
                    name="e_resource" 
                    placeholder="Estimated Resource" 
                    required="required" 
                    title="" 
                    type="text" 
                    readonly="readonly"
            />
        </div>
    </div>

<!---------------------------------------------------------------->
<!---------------------------------------------------------------->
    <div class="form-group required">
        <label class="col-md-3 control-label control-label3 cpdtools_timeline_change">
            Resource Detail
        </label>
       <div class="row">
    	<div class="col-md-7 ">
			<table class="table" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							Resource Name
						</th>
						<th class="text-center">
							Number
						</th>
						<th class="text-center">
							Manager
						</th>
					</tr>
				</thead>
				<tbody>
				{% for r_detail in resource_detail %}
				<tr>
					<td>
						<input type="text" name='r_name0'  placeholder='Resource Name' 
						       value="{{r_detail['r_name']}}" readonly="readonly"  class="" disabled/>
					</td>
					<td>
						<input type="text" name='r_number0'  placeholder='Resource Number' 
						       value="{{r_detail['r_number']}}" readonly="readonly"  class="" disabled/>
					</td>
					<td>
						<input type="text" name='r_manager0'  placeholder='Resource Manager' 
						       value="{{r_detail['r_manager']}}" readonly="readonly"  class="" disabled/>
					</td>
				</tr>
				{% endfor %}
			    </tbody>
			</table>
		 </div>
	  </div>
     </div>

<!---------------------------------------------------------------->

    <div class="form-group required">   
        <label class="col-md-3 control-label">
            Progress (against {{active_info['eta']}})
        </label>
        <div class="col-md-7 control-label">
            <input class="form-control" 
                   id="id_progress" 
                    value="{{active_info['progress']}}" 
                    name="progress" 
                    placeholder="Progress in current phase" 
                    required="required" 
                    title="" 
                    type="text" 
                    readonly="readonly"
        />
        </div>
    </div>

    <div class="form-group required content-one" style="display: none;">
        <label class="col-md-3 control-label">
            Update Info
        </label>
        <div class="col-md-7">
            <textarea   class="form-control" 
                        name = update 
                        cols="30" 
                        rows="5" 
                        placeholder="You've changed tool's progress, please leave some update on this change" 
                        required="required" 
                        readonly="readonly">
            </textarea>
        </div>
    </div>

    <div class="form-group required">   
        <label class="col-md-3 control-label">
            Estimated Return
        </label>
        <div class="col-md-7">
            <textarea   class="form-control" 
                        name = 'e_return' 
                        cols="30" 
                        rows="5" 
                        placeholder="Describe what we can expect from this tool" 
                        readonly="readonly">{{active_info['return']}}</textarea>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-md-3 control-label">
            Deliverables
        </label>
        <div class="col-md-7">
            <textarea   class="form-control" 
                        name = 'deliverables' 
                        cols="30" 
                        rows="5" 
                        placeholder="What will be dilivered to the users" 
                        readonly="readonly">{{active_info['deliverables']}}</textarea>
        </div>
    </div>

    <input type=hidden id="hidden_tool_origin_id" name="id" value="{{active_info['tool_id']}}">
    <input type=hidden id="hidden_tool_origin_progress" name="original_progress" value="{{active_info['progress']}}">

    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-7 div_same_line" style="text-align: left;">
        </div>
    </div>

</form>

    <hr>

    <table id="Table_Active_Progress" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>Progress</th>
                <th>Update Date</th>
                <th>Master PR</th>
                <th>Estimated Deadline</th>
                <th>Estimated Resource</th>
                <th>Estimated Return</th>
                <th>Deliverables</th>
                <th>User</th>
                <th>Update Info</th>
            </tr>
        </thead>
        <tbody>
        {% for progress in active_progress_info %}
            <tr>
                <td {%if progress[0]['new_progress_f'] %} 
                    class="td-bg-red" 
                    {% endif %}>
                    {{progress[0]['new_progress']}}
                </td>
                <td>
                    {{progress[0]['date']}}
                </td>
                <td {%if progress[0]['master_pr_f'] %} 
                    class="td-bg-red"
                    {% endif %}>
                    {{progress[0]['master_pr']}}
                </td>
                <td {%if progress[0]['eta_f'] %}
                    class="td-bg-red"
                    {% endif %}>
                    {{progress[0]['eta']}}
                </td>
                <td {%if progress[0]['resource_f'] %}
                    class="td-bg-red"
                    {% endif %}>
					<!---------------------------------------------------------------------------->
					{{progress[0]['resource']}}
					<button type="button" class="btn btn-primary" data-toggle="modal" 
							data-target="#myModal{{loop.index0}}"> Detail</button>
                    <!-- Modal -->
					<div class="modal fade" id="myModal{{loop.index0}}" tabindex="-1" 
						 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog"> <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Resource Detail</h4>
                          </div>
                          <div class="modal-body">
								<table class="table" id="">
									<thead>
										<tr >
											<th class="text-center">
												Resource Name
											</th>
											<th class="text-center">
												Number
											</th>
											<th class="text-center">
												Manager
											</th>
										</tr>
									</thead>
									<tbody>
									{% for detail in progress[1:] %}
									    <tr>
											<td>
												{{detail['r_name']}}
											</td>
											<td>
												{{detail['r_number']}}
											</td>
											<td>
												{{detail['r_manager']}}
											</td>
										</tr>
									{% endfor %}
								    </tbody>
								</table>
                          </div>
                          <div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
				<!---------------------------------------------------------------------------->
                </td>
                <td {%if progress[0]['return_f'] %}
                    class="td-bg-red"
                    {% endif %}>
					<p	class="pop" data-content="{{progress[0]['return']}}">
					  {{progress[0]['return'][0:30]}}...
					</p>
                </td>
                <td {%if progress[0]['deliverables_f'] %}
                    class="td-bg-red"
                    {% endif %}>
					<p	class="pop" data-content="{{progress[0]['deliverables']}}">
					  {{progress[0]['deliverables'][0:30]}}...
					</p>
                </td>
                <td>
                    {{progress[0]['username']}}
                </td>
				<td>
					<p	class="pop" data-content="{{progress[0]['update']}}">
					  {{progress[0]['update'][0:30]}}...
					</p>
				</td>
            </tr>
        {% endfor %}
        </tbody>
	</table>
	
	<script>
		$('.pop').each(function(){
		 var $elem=$(this);
		 $elem.popover({
			 trigger: 'hover',
			 html: true,
			 container: $elem,
			 animation:true,
			 placememt: 'bottom',
		 });
		}
	  );
	</script>
	<style>
	    .popover{
			min-width: 250px;
			font-size: 15px;
		}
	</style>
{%else%}
    <a id="tool_activate" class="btn btn-danger" style="width: 100px;">Activate</a>
{% endif %}
