{% extends "layout.html" %}
{% if session.logged_in %}
<head>
    {%block head%}
    <link rel='stylesheet' type='text/css' href='static/css/jquery-ui.css'>
    <script src="static/js/jquery-1.11.1.js"></script>
    <script src="static/js/jquery-ui.js"></script>

    <!-- Set Auto Complete, profiles: This script is different since it could support multiple assignes -->
    {%endblock%}
</head>
<body>
    {%block body%}
    <form action="{{ url_for('Edit_Tool_Details') }}" method=post class="form-horizontal">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                <h2 class="sub-header">Edit Tool Detail</h2>
            </h1>

<style>
.form-group.required .control-label:after { 
   content:"";
   color:red;
}
</style>

<style>
.form-group.required .control-label2:after { 
   content:"";
   color:gray;
}
</style>

<div class="form-group required"><label class="col-md-2 control-label">Tool's Name</label><div class="col-md-4"><input class="form-control" id="id_tool_name" value="{{tool['tool_name']}}" name="tool_name" placeholder="Your Tool's Name" required="required" title="" type="text"/></div></div>
<div class="form-group required"><label class="col-md-2 control-label">Authors</label><div class="col-md-4"><input class="form-control" id="id_authors" value="{{tool['authors']}}" name="authors" placeholder="Comma-separated Names" required="required" title="" type="text"/></div></div>
<div class="form-group required"><label class="col-md-2 control-label">Emails</label><div class="col-md-4"><input class="form-control" id="id_emails" value="{{tool['emails']}}" name="emails" placeholder="Comma-separated Emails/Alias" required="required" title="" type="text" /></div></div>
<div class="form-group required"><label class="col-md-2 control-label">Product/Component</label><div class="col-md-4"><input class="form-control" id="id_team" value="{{tool['team']}}" name="team" placeholder="Example:ESX/platform" required="required" title="" type="text"/></div></div>
<div class="form-group required"><label class="col-md-2 control-label">Keywords</label><div class="col-md-4"><input class="form-control" id="id_keywords" value="{{tool['keywords']}}" name="keywords" placeholder="Comma-separated keywords" required="required" title="" type="text"/></div></div>
<div class="form-group required"><label class="col-md-2 control-label">Maturity Level</label><div class="col-md-4"><input list=maturity_options class="form-control" id="id_maturity" value="{{tool['maturity']}}" name="maturity" placeholder="Maturity" required="required" title="" type="text"/></div></div>
<div class="form-group required"><label class="col-md-2 control-label control-label2">Website URL</label><div class="col-md-4"><input class="form-control" id="id_url" value="{{tool['url']}}" name="url" placeholder="Website URL" title="" type="text" /></div></div>
<div class="form-group required"><label class="col-md-2 control-label control-label2">Wiki URL</label><div class="col-md-4"><input class="form-control" id="id_wiki" value="{{tool['wiki']}}" name="wiki" placeholder="Wiki URL" title="" type="text" /></div></div>
<div class="form-group required"><label class="col-md-2 control-label">Description</label><div class="col-md-4"><textarea class="form-control" name = description cols="30" rows="10" placeholder="Describe your tools">{{tool['description']}}</textarea></div></div>

<input type=hidden id="hidden_tool_origin_name" name="original_name" value="{{tool['tool_name']}}">
<datalist id=maturity_options >
    <option> <50% complete 
    <option> 50%~100% complete 
    <option> Ship < 1 year
    <option> Ship > 1 year
</datalist>

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
        <!--<span class="glyphicon glyphicon-star"></span>--> Submit!
      </button>
    </div>
    </div>
        </div>
    </form>
    {%endblock%}
</body>
{% endif %}
