    
    <style>
     .ss-select-style {
        width: 100px;
        padding: 4px;
        font-size: 16px;
    }
    </style> 
    <div class = ""> <!-- the snapshots select-->
        <label class = "">Snapshots</label> 
        <div class = "">
        <select class = "ss-select-style"  name = "snapshots" id = "snapshots" onchange = "ss_change();">
            <option value= {{ss_month_ret}}>{{ss_month_ret}}</option>
            {% if not ss_month_ret == 'NOW' %}  <!-- avoid the 'NOW' option show twice--> 
            <option value="NOW">NOW</option>
            {% endif %}
            {% if not ss_month_ret == '201411' %}  <!-- avoid the option show twice--> 
            <option value="201411">201411</option>
            {% endif %}
            {% if not ss_month_ret == '201412' %}  <!-- avoid the option show twice--> 
            <option value="201412">201412</option>
            {% endif %}
            {% if not ss_month_ret == '201501' %}  <!-- avoid the option show twice--> 
            <option value="201501">201501</option>
            {% endif %}
            {% if not ss_month_ret == '201502' %}  <!-- avoid the option show twice--> 
            <option value="201502">201502</option>
            {% endif %}
            {% if not ss_month_ret == '201503' %}  <!-- avoid the option show twice--> 
            <option value="201503">201503</option>
            {% endif %}
        </select>
        </div>
    </div>
    {%if not tools==[]%}
    <table id="Table_CPDtools" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>Tool Name</th>
                <th>Owner</th>
                <th>Product/<br>Component</th>
                <th>Maturity Level</th>
                <th>APP URL</th>
                <th>Wiki</th>
                <th>ETA</th>
                <th>Last Update</th>
                <th>Estimated Resource<br>(Man*Week)</th>
                <th>Plan<br>Progess</th>
                <th>Estimated Return</th>
                <th>Deliverables</th>
                <th>Master PR</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
        {% for tool in tools %}
            <tr id="tr_{{tool['tool_id']}}">
                <td><a href='{{url_for("Show_Tool_Details")}}?name={{tool['tool_name']}}&id={{tool['tool_id']}}'>{{tool['tool_name']}}</a></td>
                <td>{{tool['authors']}}</td>
                <td>{{tool['team']}}</td>
                <td>{{tool['maturity']}}</td>
                <td>{%if tool['url']%}<a href='{{tool['url']}}' class="btn btn-info"  target="_blank" id='tool_activity_app_{{tool['tool_id']}}'>Launch</a>{%endif%}</td>
                <td>{%if tool['wiki']%}<a href='{{tool['wiki']}}' class="btn btn-success"  target="_blank" id='tool_activity_wiki_{{tool['tool_id']}}'>Open</a>{%endif%}</td>
                <td>{{tool['eta']}}</td>
                <td><div style="display:none;" id='hidden_last_{{tool['tool_id']}}'>
                    </div>
                    <div id='last_{{tool['tool_id']}}'>{{tool['date']}}
                    </div>
                </td>

                <td>{{tool['resource']}}</td>
                <td>{{tool['progress']}}</td>
                <script>
                    //query_tool_likes({{tool['tool_id']}})
                </script>
                <td>{{tool['return'][0:60]}}...</td>
                <td>{{tool['deliverables'][0:60]}}...</td>
                <td>{{tool['master_pr']}}</td>
                <td><div style="display:none;" id='hidden_likes_{{tool['tool_id']}}'></div><div class="div_same_line" id="{{tool['tool_id']}}" ><div class="btn btn-default" id="img_div_{{tool['tool_id']}}"><a class='do_like_a' id="{{tool['tool_id']}}"><img src="static/images/like.svg" width="30px" height="20px" /></a></div><span class="badge" id='likes_{{tool['tool_id']}}'>0</span></div></td>
                <style>
                    #img_div a {
                        display: inline-block;
                        position: relative;
                        line-height: 0;
                        float: left;
                    }
                    #img_div img {
                    }
                    #img_div span {
                        position: absolute;
                        top: 5px;
                    }
                </style>
                <style>
                    .div_same_line {
                        overflow: hidden;
                        white-space: nowrap;
                    }
                </style>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%else%}
    N/A
    {%endif%}
