{% extends "layout.html" %}
{% if session.logged_in %}
<head>
    {%block head%}
    <link rel='stylesheet' type='text/css' href='static/css/jquery-ui.css'>
    <script src="static/js/jquery-1.11.1.js"></script>
    <script src="static/js/jquery-ui.js"></script>

    <!-- Set Auto Complete, profiles: This script is different since it could support multiple assignes -->
    {%endblock%}
</head>
<body>
    {%block body%}
        <div class="row col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                <h2 class="sub-header">Tool Details</h2>
            </h1>
<div class="col-md-7" id="tool_info_all">
<div class="col-md-12 text-center" id="tool_info">
<form action="{{ url_for('Register_Tool') }}" method=post class="form-horizontal" id="tool_read_only_form">

<style>
.form-group.required .control-label:after { 
   content:"";
   color:red;
}
</style>

<style>
.form-group.required .control-label2:after { 
   content:"";
   color:gray;
}
</style>

<div class="form-group required"><label class="col-md-3 control-label">Tool's Name</label><div class="col-md-7"><input class="form-control" id="id_tool_name" value="{{tool['tool_name']}}" name="tool_name" placeholder="Your Tool's Name" required="required" title="" type="text" readonly="readonly"/></div></div>
<div class="form-group required"><label class="col-md-3 control-label">Authors</label><div class="col-md-7"><input class="form-control" id="id_authors" value="{{tool['authors']}}" name="authors" placeholder="Comma-separated Names" required="required" title="" type="text" readonly="readonly"/></div></div>
<div class="form-group required"><label class="col-md-3 control-label">Contacts</label><div class="col-md-7"><input class="form-control" id="id_emails" value="{{tool['emails']}}" name="emails" placeholder="Comma-separated Emails/Alias" required="required" title="" type="text" readonly="readonly"/></div></div>
<div class="form-group required"><label class="col-md-3 control-label">Product/Component</label><div class="col-md-7"><input class="form-control" id="id_team" value="{{tool['team']}}" name="team" placeholder="Team" required="required" title="" type="text" readonly="readonly"/></div></div>
<div class="form-group required"><label class="col-md-3 control-label">Keywords</label><div class="col-md-7"><input class="form-control" id="id_keywords" value="{{tool['keywords']}}" name="keywords" placeholder="Comma-separated keywords" required="required" title="" type="text" readonly="readonly"/></div></div>
<div class="form-group required"><label class="col-md-3 control-label">Maturity Level</label><div class="col-md-7"><input class="form-control" id="id_maturity" value="{{tool['maturity']}}" name="maturity" placeholder="Maturity" required="required" title="" type="text" readonly="readonly"/></div></div>
<div class="form-group required"><label class="col-md-3 control-label">Source</label><div class="col-md-7"><input list=source_options class="form-control" id="id_source" maxlength="30" value="{{tool['source']}}" name="source" placeholder="Unknown" required="required" title="" type="text" readonly="readonly"/></div></div>
<div class="form-group required"><label class="col-md-3 control-label">Description</label><div class="col-md-7"><textarea class="form-control" name = description cols="30" rows="10" placeholder="Describe your tools" readonly="readonly">{{tool['description']}}</textarea></div></div>

<script>
function rebind_like(){
    $(".do_like_a").on('click', function(){   
        var like_a = $(this);   
        var id = like_a.attr("ref"); //..id   
        //love.fadeOut(300); //....   
        $.ajax({   
            type:"GET",   
            url:"/Tool_Like",   
            data:"id="+id,   
            cache:false, //......   
            success:function(res){   
                if(res.res=="success"){
                    var ori = parseInt(document.getElementById("likes_"+id).innerHTML);
                    ori += 1;
                    document.getElementById("likes_"+id).innerHTML = ori;
                    var button = document.getElementById("img_div_"+id);
                    button.style.background="#777";
                }
                else if(res.res=="already"){
                    if (confirm('You have aleady liked it, undo like?')) {
                        $.ajax({
                            type:"GET",
                            url:"/Tool_Unlike",
                            data:"id="+id,
                            cache:false, 
                            success:function(res){
                                var ori = parseInt(document.getElementById("likes_"+id).innerHTML);
                                ori -= 1;
                                document.getElementById("likes_"+id).innerHTML = ori;
                                var button = document.getElementById("img_div_"+id);
                                button.style.background="#FFF";
                            }
                        });
                    } 
                }
                else{
                    alert(res.res);   
                }
            }   
        });   
    })
}
</script>



<script>
function query_tool_likes(id) {
    $.ajax({
        type:"GET",
        url:"/Tool_Like_Query",
        data:"id="+id,
        cache:false, //......
        success:function(res){
            if(res.res=="success"){
                document.getElementById("likes_"+id).innerHTML = res.data;
                if(res.liked==1){
                    var button = document.getElementById("img_div_"+id);
                    button.style.background="#777";
                }
            }
            else{
                alert(res.res);
            }
        }
    });
}
</script>



    <div class="form-group">
    <label class="col-md-3 control-label"></label>
    <div class="col-md-7 div_same_line" style="text-align: left;">
      {%if tool['url']%}<a href='{{tool['url']}}' class="btn btn-info"  target="_blank" id='tool_activity_app_{{tool['tool_id']}}'>Launch APP</a>{%endif%}
      {%if tool['wiki']%}<a href='{{tool['wiki']}}' class="btn btn-success"  target="_blank" id='tool_activity_wiki_{{tool['tool_id']}}'>Open Wiki</a>{%endif%}
      <a id="tool_edit_button" class="btn btn-danger" style="width: 100px;">Edit</a>
      <a class='btn btn-default do_like_a' ref="{{tool['tool_id']}}" id="img_div_{{tool['tool_id']}}"><img src="static/images/like.svg" width="30px" height="20px" /></a><span class="badge" id='likes_{{tool['tool_id']}}'>0</span>
        <!--<span class="glyphicon glyphicon-star"></span>--> 
      <script>
          query_tool_likes({{tool['tool_id']}});
      </script>
      <style>
          #img_div a {
              display: inline-block;
              position: relative;
              line-height: 0;
              float: left;
          }
          #img_div img {
          }
          #img_div span {
              position: absolute;
              top: 5px;
          }
      </style>

      <style>
          .div_same_line {
              overflow: hidden;
              white-space: nowrap;
          }
      </style>
    </div>
    </div>
    </form>
</div><!--tool_info-->

<div class="col-md-12 text-left">
<h3>Plan&Track</h3>
<div id="tool_active_info">
</div><!--tool_active_info-->
</div>


</div><!--tool_info_all-->

<script>
function update_active_tool_info(id){
    document.getElementById("tool_active_info").innerHTML = "Updating...";
    $.ajax({
        type:"GET",
        url:"/Tool_Active_Info_Frag",
        data:"id="+id,
        cache:false, //......
        success:function(res){
            if(res.res=="success"){
                document.getElementById("tool_active_info").innerHTML = res.data;
                var Progress_table = $('#Table_Active_Progress').DataTable({
                    dom: 't',
                    paging:         false,
                    autoWidth:      false,
                    "order": [[ 2, "desc" ]]
                });
              /*  $('#Table_Active_Progress > tbody > tr > td').each(function(){
                    active_progress_highlight(this.id);
                })
               */
                 var Track_table = $('#Table_Active_Track').DataTable({
                    dom: 't',
                    //scrollY:        true,
                    //scrollX:        true,
                    paging:         false,
                    autoWidth:      false,
                });
                bind_activate_button();
                bind_deactive_button();
            }
            else{
                alert(res.res);
            }
        }
    });
}
/*
function active_progress_highlight(id){
    $.ajax({
        type:"GET",
        url:"/Tool_Active_Highlight_Query",
        data:"id="+id,
        cache:false, //......
        success:function(res){
            if(res.res=="success"){
                if(res.flag == 1){
                   $("#tr"+id).each(function(){
                    this.style.background = "#ffaaaa";
                    }); 
                }

            }
            else{
                alert(res.res);
            }
        }
    });

}
*/
</script>

<script>
var originalHTML = "";
rebind_edit_button();
update_active_tool_info({{tool['tool_id']}});
function rebind_edit_button(){
    rebind_like();
    query_tool_likes({{tool['tool_id']}});
    $( "#tool_edit_button" ).click(function() {
        $.ajax({
            type:"GET",
            url:"/Tool_Edit_Frag",
            data:"id="+{{tool['tool_id']}},
            cache:false, //......
            success:function(res){
                if(res.res=="success"){
                    originalHTML = document.getElementById("tool_info").innerHTML;
                    document.getElementById("tool_info").innerHTML = res.data;
                    rebind_submit_button();
                    rebind_cancel_button();
                }
                else{
                    alert(res.res);
                }
            }
        });

    });
    initialize_activity();
}
</script>

<script>
function rebind_submit_button() {
    $( "#tool_edit_submit" ).click(function() {
        var form = $( "#tool_edit_form" )
        var postData = $(form).serializeArray();
        var formURL = $(form).attr("action");
        $.ajax(
        {
            url : formURL,
            type: "POST",
            data : postData,
            success:function(data, textStatus, jqXHR)
            {
                if(data.res=='success'){
                    document.getElementById("tool_info").innerHTML = data.data;
                    rebind_edit_button();
                }
                else {
                    alert(data.res);
                }
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("There is one internal error.");
            }
        });
    });
}
</script>

<script>
function rebind_cancel_button() {
    $( "#tool_edit_cancel" ).click(function() {
        /*$.ajax(
        {
            url : formURL,
            type: "POST",
            data : postData,
            success:function(data, textStatus, jqXHR)
            {
                if(data.res=='success'){
                    document.getElementById("tool_info").innerHTML = data.data;
                    rebind_edit_button();
                }
                else {
                    alert(data.res);
                }
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("There is one internal error.");
            }
        });*/
        document.getElementById("tool_info").innerHTML = originalHTML;
        rebind_edit_button();
    });
}
</script>



<style>
.comment{
    margin:20px 0 40px
}

.comment .comment-content{
    background-color:#eaeaea;
    padding:5px 15px 15px;
    word-wrap: break-word;
}

.comment .comment-content:after{
    position:absolute;
    left:50px;
    border-color:transparent #eaeaea transparent transparent;
    border-style:solid;
    border-width:0 29px 25px 0
}

.clearfix:before,.clearfix:after{
    content:"";
    display:table
}

.clearfix:after{
    clear:both
}

.comment .comment-meta{
    margin:15px 0 0 0
}

img.avatar-small {
    height: 40px;
    width: 40px;
    vertical-align: bottom;
}

.cpdtools_no_padding_right {
    padding-right: 0px;
}

.cpdtools_no_padding_left {
    padding-left: 0px;
}
</style>
<div class='comment-container col-md-5'>
    <div class='col-sm-12'>
    <h3 style="font-family: bebasneue">Comments</h3>
        <div>
        <form accept-charset="UTF-8" id="commentForm" action="/Tool_Post_Comment"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="1" /></div><input id="comment_id" name="comment_tool_id" type="hidden" value="{{tool['tool_id']}}" />
        <textarea class="form-control" style="resize: vertical; margin-bottom:5px;" id="comment_content" name="comment_content" {%if session['logged_in']%} placeholder="Leave a comment..."{%else %} placeholder="Login before leave comments..." disabled{%endif%} required="required" rows="2"></textarea>
        {%if session['logged_in']%}
        <button class="btn btn-primary" type="submit"><i class='fa fa-comment'></i>
        Comment
        </button>{%endif%}
</form>

        </div>
<div class='comments'>

</div><!--comments-->

</div>
</div><!--comments-container-->

<script>
//callback handler for form submit must under the form
$( "#commentForm" ).submit(function(event) {
    event.preventDefault();
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR)
        {
            if(data.res=='success'){
                $( ".comments" ).prepend( data.new_div ); 
            }
            else {
                alert(data.res);
            }
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            alert("There is one internal error.");
        }
    });
});

function query_comments(id) {
    $.ajax(
    {
        url : '/Tool_Get_Comments',
        type: "GET",
        data : "id="+id,
        success:function(data, textStatus, jqXHR)
        {
            if(data.res=='success'){
                $( ".comments" ).prepend( data.new_div );
            }
            else {
                alert(data.res);
            }
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            alert("There is one internal error when loadding comments");
        }
    });

}

query_comments({{tool['tool_id']}})
</script>



<!--Update matuirty for active tools-->

<script>
function update_maturity_wx(){
        if ($('.content-pro')[0].style.display == "none"){
            $('.content-pro').slideToggle('slow');
        }
}
</script>

<script>
function update_maturity(){
    var elem = document.getElementById("id_progress");
    new_value = elem.options[elem.selectedIndex].value;
    if (new_value != $("#hidden_tool_origin_progress")[0].value){
        //alert(new_value);
        if ($('.content-pro')[0].style.display == "none"){
            $('.content-pro').slideToggle('slow');
        }
    }
    else{
        if ($('.content-pro')[0].style.display != "none"){
            $('.content-pro').slideToggle('slow');
        }
    }
}
</script>


<!--bind activate button-->
<script>
function bind_activate_button() {
    var btn = $( "#tool_activate" );
    if(btn){
        btn.click(function() {
            var op = $( "#tool_activate" )[0].innerHTML=="Edit"?"edit":"activate"
            if (confirm('Before '+op+', please be sure it is agreed by tool Champion geo lead. Confirm?')){
                document.getElementById("tool_active_info").innerHTML = "Loading...";
                $.ajax(
                {
                    url : "/Tool_Activate",
                    type: "GET",
                    data:"id="+{{tool['tool_id']}},
                    cache:false, //......
                    success:function(data, textStatus, jqXHR)
                    {
                        if(data.res=='success'){
                            document.getElementById("tool_active_info").innerHTML = data.data;
                            bind_edit_active_info_submit();
                            bind_edit_active_info_cancel();
                            active_info_edit_table_init();
                        }
                        else {
                            alert(data.res);
                            update_active_tool_info({{tool['tool_id']}});
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                        alert("There is one internal error.");
                        update_active_tool_info({{tool['tool_id']}});
                    }
                });
                //rebind_edit_button();
            }
        });
    }
}

function bind_edit_active_info_submit(){
    var btn = $( "#active_info_edit_submit" );
    if(btn){
        btn.click(function() {
            var form = $( "#tool_active_info_edit_form" )
            var postData = $(form).serializeArray();
            var formURL = $(form).attr("action");
            $.ajax(
            {
                url : formURL,
                type: "POST",
                data : postData,
                success:function(data, textStatus, jqXHR)
                {
                    if(data.res=='success'){
                        update_active_tool_info({{tool['tool_id']}});
                    }
                    else {
                        alert(data.res);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    alert("There is one internal error.");
                }
            });
        });

    }
}

function bind_edit_active_info_cancel(){
    var btn = $( "#active_info_edit_cancel" );
    if(btn){
        btn.click(function() {
            update_active_tool_info({{tool['tool_id']}});
        });
    }
}

function bind_deactive_button(){
    var btn = $( "#tool_deactivate" );
    if(btn){
        btn.click(function() {
            var op = "deactivate";
            if (confirm('Before '+op+', please be sure it is agreed by tool Champion Geoleads. Confirm?')){
                $.ajax(
                {
                    url : "/Tool_Deactivate",
                    type: "GET",
                    data:"id="+{{tool['tool_id']}},
                    cache:false, //......
                    success:function(data, textStatus, jqXHR)
                    {
                        if(data.res=='success'){
                            alert("Successfully deactivated this tool")
                        }
                        else {
                            alert(data.res);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                        alert("There is one internal error.");
                    }
                });
                update_active_tool_info({{tool['tool_id']}});
            }
        });
    }
}

function active_info_edit_table_init(){
    var input = $( "#id_e_timeline_cal" )
    if(input){
        input.datepicker({
            dateFormat: "yy-mm-dd",
            altFormat: "yy-mm-dd",
            altField: "#id_e_timeline",
            minDate: "2014-01-01"
        });
    }

    $('#id_backlog_check').popover({
            trigger:"click hover", 
            delay: {show: 50, hide: 4000},
            content: "Add this tool to the backlog",
            title: "",
    });

    $('#id_backlog_check').click(function(event) {  //on click
        if(this.checked) { // check select status
            $('.form-group.required .control-label3').addClass('control-label2');
        }else{
            $('.form-group.required .control-label3').removeClass('control-label2');
        }
    });

    var timeline = $("#id_e_timeline_cal")[0].value;
    if (timeline!=""){
        $(".cpdtools_timeline_change").each(function(){
            this.innerHTML = this.innerHTML.replace("this timeline", timeline);
        });
    }


    $("#id_e_timeline_cal").change(function(event) {
        var timeline = $("#id_e_timeline_cal")[0].value;
        if (timeline!=""){
            $(".cpdtools_timeline_change").each(function(){
                this.innerHTML = this.innerHTML.replace(/against.*$/, "against "+timeline+")");
            });
        }

    }); 
    

}
</script>

</div>
    {%endblock%}
</body>
{% endif %}
