
<form action="" method=post>
<ul class="" style="padding-left:10px;">
    <!--tab nav-->
    <ul class="nav nav-tabs" role="tablist" id="teams_tab">
		<li class="active">
			<a href="" id="All-Teams" data-toggle="t_tab">All Teams</a>
		</li>
		<li>
			<a href="" id="VC-VCD" data-toggle="t_tab">VC/VCD</a>
		</li>
		<li>
			<a href="" id="EUC-View" data-toggle="t_tab">EUC-View</a>
		</li>
		<li>
			<a href="" id="ESX-Platform" data-toggle="t_tab">ESX-Platform</a>
		</li>
		<li>
			<a href="" id="ESX-Storage" data-toggle="t_tab">ESX-Storage</a>
		</li>
		<li>
			<a href="" id="ESX-Kernel" data-toggle="t_tab">ESX-Kernel</a>
		</li>
		<li>
			<a href="" id="ESX-Networking" data-toggle="t_tab">ESX-Networking</a>
		</li>
		<li>
			<a href="" id="Availability" data-toggle="t_tab">Availablity</a>
		</li>
    </ul>
</ul>

<br>


<div id='teams_holder'>
<!-------------------------------------------------------------------------------------------------------->
    <div class="form-inline"> <!-- the snapshots select-->
		<label class="ss-label">Snapshots:</label> 
        <select class = "ss-select-style"  name = "snapshots" id = "snapshots" onchange = "ss_change();">
            <option value= {{ss_month_ret}}>
                {% if ss_month_ret == 'NOW' %} 
                    NOW
                {% endif %}
                {% if ss_month_ret == '201503' %} 
                    Mar. 2015
                {% endif %}
                {% if ss_month_ret == '201504' %} 
                    Apr. 2015
                {% endif %}
                {% if ss_month_ret == '201505' %} 
                    May. 2015
                {% endif %}
                {% if ss_month_ret == '201506' %} 
                    Jun. 2015
                {% endif %}
                {% if ss_month_ret == '201507' %} 
                    Jul. 2015
                {% endif %}
                {% if ss_month_ret == '201508' %} 
                    Aug. 2015
                {% endif %}
                {% if ss_month_ret == '201509' %} 
                    Sep. 2015
                {% endif %}
                {% if ss_month_ret == '201510' %} 
                    Oct. 2015
                {% endif %}
                {% if ss_month_ret == '201511' %} 
                    Nov. 2015
                {% endif %}
                {% if ss_month_ret == '201512' %} 
                    Dec. 2015
                {% endif %}
            </option>
            {% if not ss_month_ret == 'NOW' %}  <!-- avoid the 'NOW' option show twice--> 
            <option value="NOW">NOW</option>
            {% endif %}
            {% if not ss_month_ret == '201503' %}  <!-- avoid the option show twice--> 
            <option value="201503">Mar. 2015</option>
            {% endif %}
            {% if not ss_month_ret == '201504' %}  <!-- avoid the option show twice--> 
            <option value="201504">Apr. 2015</option>
            {% endif %}
            {% if not ss_month_ret == '201505' %}  <!-- avoid the option show twice--> 
            <option value="201505">May. 2015</option>
            {% endif %}
            {% if not ss_month_ret == '201506' %}  <!-- avoid the option show twice--> 
            <option value="201506">Jun. 2015</option>
            {% endif %}
            {% if not ss_month_ret == '201507' %}  <!-- avoid the option show twice--> 
            <option value="201503">Jul. 2015</option>
            {% endif %}
            {% if not ss_month_ret == '201508' %}  <!-- avoid the option show twice--> 
            <option value="201504">Aug. 2015</option>
            {% endif %}
            {% if not ss_month_ret == '201509' %}  <!-- avoid the option show twice--> 
            <option value="201505">Sep. 2015</option>
            {% endif %}
            {% if not ss_month_ret == '201510' %}  <!-- avoid the option show twice--> 
            <option value="201506">Oct. 2015</option>
            {% endif %}
            {% if not ss_month_ret == '201511' %}  <!-- avoid the option show twice--> 
            <option value="201505">Nov. 2015</option>
            {% endif %}
            {% if not ss_month_ret == '201512' %}  <!-- avoid the option show twice--> 
            <option value="201506">Dec. 2015</option>
            {% endif %}
        </select>
    </div>
    {%if not tools==[]%}
    <table id="Table_CPDtools" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>Tool Name</th>
                <th>Owner</th>
                <th>Product/<br>Component</th>
                <th>Maturity Level</th>
                <th>APP URL</th>
                <th>Wiki</th>
                <th>ETA</th>
                <th>Last Update</th>
                <th>Estimated Resource<br>(Man*Week)</th>
                <th>Plan<br>Progess</th>
                <th>Estimated Return</th>
                <th>Deliverables</th>
                <th>Master PR</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
        {% for tool in tools %}
            <tr id="tr_{{tool['tool_id']}}">
                <td><a href='{{url_for("Show_Tool_Details")}}?name={{tool['tool_name']}}&id={{tool['tool_id']}}'>{{tool['tool_name']}}</a></td>
                <td>{{tool['authors']}}</td>
                <td>{{tool['team']}}</td>
                <td>{{tool['maturity']}}</td>
                <td>{%if tool['url']%}<a href='{{tool['url']}}' class="btn btn-info"  target="_blank" id='tool_activity_app_{{tool['tool_id']}}'>Launch</a>{%endif%}</td>
                <td>{%if tool['wiki']%}<a href='{{tool['wiki']}}' class="btn btn-success"  target="_blank" id='tool_activity_wiki_{{tool['tool_id']}}'>Open</a>{%endif%}</td>
                <td>{{tool['eta']}}</td>
                <td><div style="display:none;" id='hidden_last_{{tool['tool_id']}}'>
                    </div>
                    <div id='last_{{tool['tool_id']}}'>{{tool['date']}}
                    </div>
                </td>

                <td>{{tool['resource']}}</td>
                <td>{{tool['progress']}}</td>
				<td>
					<div class="pop" data-content="{{tool['return']}}">
						{{tool['return'][0:30]}}...
					<div>
				</td>
				<td>
					<div class="pop" data-content="{{tool['deliverables']}}">
						{{tool['deliverables'][0:30]}}...
					<div>
				</td>
				<td>
					<a href="https://bugzilla.eng.vmware.com/show_bug.cgi?id={{tool['master_pr']}}" target="_blank" >{{tool['master_pr']}}</a>
				</td>
                <td><div style="display:none;" id='hidden_likes_{{tool['tool_id']}}'></div><div class="div_same_line" id="{{tool['tool_id']}}" ><div class="btn btn-default" id="img_div_{{tool['tool_id']}}"><a class='do_like_a' id="{{tool['tool_id']}}"><img src="static/images/like.svg" width="30px" height="20px" /></a></div><span class="badge" id='likes_{{tool['tool_id']}}'>0</span></div></td>
                <style>
                    #img_div a {
                        display: inline-block;
                        position: relative;
                        line-height: 0;
                        float: left;
                    }
                    #img_div img {
                    }
                    #img_div span {
                        position: absolute;
                        top: 5px;
                    }
                </style>
                <style>
                    .div_same_line {
                        overflow: hidden;
                        white-space: nowrap;
                    }
                </style>
				<style>
				    .popover{
						min-width: 250px;
						font-size: 15px;
					}
				</style>
					<script>
						$('.pop').each(function(){
						 var $elem=$(this);
						 $elem.popover({
							 trigger: 'hover',
							 html: true,
							 container: $elem,
							 animation:true,
							 placememt: 'bottom',
						 });
						}
					  );
					</script>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%else%}
    N/A
    {%endif%}

    <style>
		.ss-select-style {
        width: 160px;
        padding: 4px;
        font-size: 16px;
    }
		.ss-label {
		font-size: 15px;
		color:rgb(51, 153, 255);
    }
    </style>

</div>
<!-------------------------------------------------------------------------------------------------------->


<script>
var team_name_front = 'All-Teams';

$('#teams_tab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
})

var local_hash = window.location.hash.replace("#", "");
if(local_hash != ""){
	if(local_hash == "All-Teams")
	    $('#All-Teams').click();
	if(local_hash == "VC-VCD")
	    $('#VC-VCD').click();
	if(local_hash == "EUC-View")
	    $('#EUC-View').click();
	if(local_hash == "ESX-Platform")
	    $('#ESX-Platform').click();
	if(local_hash == "ESX-Storage")
	    $('#ESX-Storage').click();
	if(local_hash == "ESX-Kernel")
	    $('#ESX-Kernel').click();
	if(local_hash == "ESX-Networking")
	    $('#ESX-Networking').click();
	if(local_hash == "Availability")
	    $('#Availability').click();
	team_name_front = local_hash;
	query_teams(local_hash);
}

$('a[data-toggle="t_tab"]').on('shown.bs.tab', function (e) {
    var a = e.target; // activated tab
	var id = a.id.replace("tools_tab_", "");
	query_teams(id)
    team_name_front = id;
    window.location.hash=team_name_front;
    //e.relatedTarget // previous tab
})
</script>

</form>
