<style>
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
</style>

<style>
.form-group.required .control-label2:after { 
   content:"";
   color:gray;
}
</style>

<form action="{{ url_for('Tool_Active_Info_Edit') }}" 
      method=post 
      class="form-horizontal" 
      id="tool_active_info_edit_form">


    <div class="form-group">
        <label class="col-md-3 control-label control-label2">
            Backlog?
        </label>
        <div class="col-md-7">
            <input type=checkbox 
                    id ="id_backlog_check" 
                    name="backlog_check" 
                    value="1" 
                    class="checkbox"
            />
        </div>
    </div>

    <div class="form-group required">
        <label class="col-md-3 control-label control-label3">
            Master PR
        </label>
        <div class="col-md-7">
            <input class="form-control cpdtools_need_update" 
                    id="id_master_pr" 
                    value="{{active_info['master_pr']}}" 
                    name="master_pr" 
                    placeholder="PR # for tracking this tool" 
                    required="required" 
                    title="" 
                    type="text" 
                    onchange="update_maturity_wx();"
            />
        </div>
    </div>


    <div class="form-group required">
        <label class="col-md-3 control-label control-label3">
            Estimated Timeline
        </label>
        <div class="col-md-7">
            <input  class="form-control cpdtools_need_update" 
                    id="id_e_timeline_cal" 
                    value="{{active_info['eta']}}" 
                    name="e_timeline_cal" 
                    placeholder="ETA" 
                    required="required" 
                    title="" 
                    type="text" 
                    onchange="update_maturity_wx();" 
            />
        </div>
    </div>

    <div class="form-group required" style="display: none;">
        <label class="col-md-3 control-label control-label3">
            Estimated Timeline
        </label>
        <div class="col-md-7">
            <input  class="form-control cpdtools_need_update" 
                    id="id_e_timeline" 
                    value="{{active_info['eta']}}" 
                    name="e_timeline" 
                    placeholder="ETA" 
                    required="required" 
                    title="" 
                    type="text" 
            />
        </div>
    </div>

    <div class="form-group required">
        <label class="col-md-3 control-label control-label3 cpdtools_timeline_change">
            Estimated Resource (Man*Week against this timeline)
        </label>
        <div class="col-md-7">
            <input class="form-control cpdtools_need_update" 
                    id="id_resource"
                    value="{{active_info['resource']}}" 
                    name="e_resource" 
                    placeholder="Estimated Resource" 
                    required="required" 
                    title="" 
                    type="text" 
                    onchange="update_maturity_wx();"
            />
        </div>
    </div>
<!---------------------------------------------------------------->
    <div class="form-group required">
        <label class="col-md-3 control-label control-label3 cpdtools_timeline_change">
			Resource Detail
		</label>
        <table class="col-md-7">
            <tr>
                <td>Resource Name:</td>
                <td><input type="text" id="r_name"></td>
            </tr>
            <tr>
                <td>Num:</td>
                <td><input type="text" id="r_num">
            </tr>
            <tr>
                <td>Manager:</td>
                <td><input type="text" id="r_manager"></td>
                <input type="button" id="add" value="Add" onclick="Javascript:addRow()"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
		
		<label class="col-md-3 control-label control-label3 cpdtools_timeline_change">
			Resource List
		</label>
        <table class="col-md-3" id="myTableData" border="2" cellpadding="10", width="15">
            <tr>
                <td><b>Resource Name</b></td>
                <td><b>Num</b></td>
                <td><b>Manager</b></td>
                <td>&nbsp;</td>
            </tr>
        </table>
        &nbsp;
    </div>
<!---------------------------------------------------------------->

    <div class="form-group required">
        <label  class="col-md-3 control-label control-label3 cpdtools_timeline_change">
            Progress (against this timeline)
        </label>
        <div class="col-md-7">
            <select class="form-control cpdtools_need_update" 
                    id="id_progress" 
                    value="{{active_info['progress']}}" 
                    name="progress" 
                    placeholder="Progress in current phase" 
                    required="required" 
                    title="" 
                    type="text" 
                    onchange="update_maturity_wx();"
            >
                <option value="{{active_info['progress']}}">
                    {{active_info['progress']}}
                </option>
                {% for prog in range(10,101) if prog%10==0 %}
                    {% if not prog|string+"%"==active_info['progress']%}
                        <option value="{{prog}}%">
                            {{prog}}
                        </option>
                    {% endif%}
                {% endfor%}
            </select>
        </div>
    </div>


    <div class="form-group required">
        <label class="col-md-3 control-label control-label3">
            Estimated Return
        </label>
        <div class="col-md-7">
            <textarea   class="form-control cpdtools_need_update"
                        name = 'e_return'
                        cols="30"
                        rows="5"
                        onchange="update_maturity_wx();"
                        placeholder="Describe what we can expect from this tool"
            >{{active_info['return']}}</textarea>
        </div>
    </div>


    <div class="form-group required">
        <label class="col-md-3 control-label control-label3">
            Deliverables
        </label>
        <div class="col-md-7">
            <textarea   class="form-control cpdtools_need_update"
                        name = 'deliverables'
                        cols="30"
                        rows="5"
                        onchange="update_maturity_wx();"
                        placeholder="What will be dilivered to the users"
            >{{active_info['deliverables']}}</textarea>
        </div>
    </div>


    <div class="form-group required content-pro" style="display: none;">
        <label class="col-md-3 control-label control-label3">
            Modify Update Info
        </label>
        <div class="col-md-7">
            <textarea   class="form-control" 
                        name = update 
                        cols="30" 
                        rows="5"
                        placeholder="You've changed some INFO, please leave some update on this change"
                        required="required"
            ></textarea>
        </div>
    </div>

    <input type=hidden id="hidden_tool_origin_id" name="id" value="{{active_info['tool_id']}}">
    <input type=hidden id="hidden_tool_origin_progress" name="original_progress" value="{{active_info['progress']}}">

    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-7 div_same_line" style="text-align: left;">
            <a id="active_info_edit_submit" class="btn btn-danger" style="width: 100px;">
                Submit
            </a>
            <a id="active_info_edit_cancel" class="btn btn-info" style="width: 100px;">
                Cancel
            </a>
        </div>
    </div>

</form>

<!---------------------------------------------------------------->
<script>

    function addRow() {
        var myName = document.getElementById("r_name");
        var num = document.getElementById("r_num");
        var manager = document.getElementById("r_manager");
        var table = document.getElementById("myTableData");

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        row.insertCell(0).innerHTML= myName.value;
        row.insertCell(1).innerHTML= num.value;
        row.insertCell(2).innerHTML= manager.value;
        row.insertCell(3).innerHTML= '<input type="button" value = "Delete" onClick="Javacsript:deleteRow(this)">';
    }

    function deleteRow(obj) {
        var index = obj.parentNode.parentNode.rowIndex;
        var table = document.getElementById("myTableData");
        table.deleteRow(index);
    }

/*    function addTable() {
        var myTableDiv = document.getElementById("myDynamicTable");
        var table = document.createElement('TABLE');
        table.border='1';
        var tableBody = document.createElement('TBODY');
        table.appendChild(tableBody);
        for (var i=0; i<3; i++){
           var tr = document.createElement('TR');
           tableBody.appendChild(tr);
           for (var j=0; j<4; j++){
               var td = document.createElement('TD');
               td.width='75';
               td.appendChild(document.createTextNode("Cell " + i + "," + j));
               tr.appendChild(td);
           }
        }
        myTableDiv.appendChild(table);
    } */
</script>
<!---------------------------------------------------------------->
